@import url("../../all/theme/scrollpage.css");

:root {
	--scroll-page-bg-color: var(--bs-blue, rgb(13 110 253));
	--scroll-page-arrow-color: var(--bs-white, #ffffff);
	--scroll-page-border-radius: var(--bs-border-radius-lg);
	--scroll-page-border-color: var(--bs-border-color);
	--scroll-page-icon-width: 2.5rem;
	--scroll-page-icon-height: 2.5rem;
}

