.scroll-page {
	font-size: 20px;
	background-color: #000000; /* Scroll button color */
	border-radius: 3px; /* Rounded corners, set to 0 for none */
	color: #ffffff; /* Arrow color */
	opacity: 0.5;
	position: fixed;
	z-index: 9999;
	right: 25px;
	bottom: 25px;
	display: none;
	cursor: pointer;
}

.scroll-page i {
	font-size: inherit;
	color: inherit;
	opacity: 0.9;
	display: block;
	width: 20px;
	height: 20px;
	padding: 10px;
}

.scroll-page i:before {
	padding: 0 !important; /* override style icon padding */
}

.scroll-page .scroll-up {
	padding-bottom: 5px;
}

.scroll-page .scroll-down {
	padding-top: 5px;
}

.notouch .scroll-page i:hover {
	opacity: 1;
}

.rtl .scroll-page {
	right: auto;
	left: 25px;
}

.rtl .scroll-page i {
	padding-right: 10px !important; /* override rtl icon padding */
	padding-left: 10px !important; /* override rtl icon padding */
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	.scroll-page {
		display: none !important; /* force to not display on small/mobile */
	}
}
